/* general styling */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(15, 27, 27);
}
h3 {
  font-size: 1.5em;
}
button {
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
}
/* end of general styles */
.column-flexed {
  background-color: rgb(15, 170, 170);
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}
#home,
.main,
.statistics {
  height: 100vh;
}
.sections {
  height: 200vh;
}

#home #navigation {
  flex: 0 0 10%;
  background-color: rgb(231, 218, 218);
  color: rgb(18, 34, 28);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
/* #naviagation button{
  fl
} */
#home #mainBody {
  flex: 0 0 90%;
  background-color: rgb(239, 239, 247);
}
.section1 {
  flex: 0 0 10%;
  background-color: blue;
}
.section2 {
  flex: 0 0 50%;
  background-color: rgb(239, 239, 247);
}
.section3 {
  flex: 0 0 35%;

  background-color: rgb(142, 223, 248);
}
.section4 {
  flex: 0 0 5%;
  background-color: rgb(143, 38, 117);
}
a {
  margin-top: auto;
  /* background-color: blueviolet; */
  margin-bottom: auto;
  color: black;
  padding-top: 6px;
  text-decoration: none;
  height: 2em;
  font-size: 1.2em;
}
button {
  margin: 0px;
  height: 100%;
  font-size: 1em;
}
/* styles for statistics */
.statistics {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}
.major-statistic {
  flex: 0 0 98%;
  height: 20%;
  background-color: yellow;
}
.otherStatistics {
  flex: 0 0 49%;
  height: 20%;
  background-color: rgb(162, 241, 159);
}
.major-statistic,
.otherStatistics {
  margin: 2px;
  border: 2px solid black;
  border-radius: 5px;
  /* box-shadow: ; */
}
/* section 2 */
form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  /* margin: 2px; */
}
input,
button[id="submit"] {
  margin: 5px;
  padding: 0.5px;
  height: 2em;
  font-size: 1.2em;
}
input {
  border: 2px black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
input:hover {
  border-bottom: 2px solid rgb(167, 167, 238);
  border-left: 2px solid rgb(167, 167, 238);
}

input,
button[id="submit"] {
  width: 50%;
}
span[id="cartValue"] {
  width: 30px;
}
button[id="submit"] {
  border: 0px;
  background-color: white;
}
button[id="submit"]:hover {
  background-color: black;
  color: white;
}
input::placeholder {
  text-align: center;
}
#formheader {
  text-align: center;
  background-color: burlywood;
}

/* section 3 styles */
.section3 {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  min-width: 400px;
  border: 2px solid rgb(184, 148, 184);
}
thead tr {
  /* width: 400px; */
  background-color: brown;
}
thead tr th,
tbody tr td {
  text-align: left;
  padding: 3px;
}
thead th:nth-child(1) {
  width: 30%;
}
tbody tr:nth-of-type(odd) {
  background-color: rgb(241, 221, 221);
}

.section4 button {
  width: 100%;
}
.section4 button:hover {
  background-color: rgba(97, 236, 42, 1);
}

/* table styles */
table {
  display: table;
  max-height: 150px;
  overflow-y: scroll;
  /* width: 100%; */
}

#mainBody {
  background-image: url("./images/superset.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
